/* especificidad: (0, 0, 1)*/
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #FDB750;
  color: #010100;
  margin: 0em;
  padding: 0em;
}

/* especificidad: (0, 1, 1)  La advertencia ha sido comprobada. Color de fondo heredado*/
a:link {
  color: #010100;
}
/* especificidad: (0, 1, 1)*/
a:focus {
  border-bottom: 0.2em solid #010100;
}

/* ---------- TABLAS  ---------- */
/* especificidad: (0, 0, 1)*/
table {
  border: 0.1rem solid #010100;
  background-color: #FFFFFF;
  color: #010100;
}
/* especificidad: (0, 0, 2) .La advertencia ha sido comprobada. Color heredado de table*/
table thead {
  background-color: #FD7F20;
  border-bottom: 0.2rem solid #010100;
}
/* especificidad: (0, 0, 3)*/
table thead th {
  padding: 1rem;
  border: 0.1rem solid #010100;
}
/* especificidades: (0, 0, 2)*/
table td,
table th {
  padding: 1rem;
  border: 0.1rem solid #010100;
}

/* ---------- FORMULARIOS  ---------- */
/* especificidades: (0, 0, 1)*/
form {
  background-color: #FD7F20;
  padding: 1.5rem;
  border-radius: 0.75rem;
  color: #010100;
  border: 0.2rem solid #010100;
  font-size: 1.4em;
}
/* especificidades: (0, 0, 2)*/
form button{
  font-size: 1.5rem;
}
/* especificidades: (0, 0, 2)*/
form input{
  font-size: 1.2rem;
}
/* especificidad: (0, 0, 2)*/
form h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1em;
}

/* ---------- LISTAS ---------- */
/* especificidad: (0, 0, 1)*/
ol {
  padding: 2rem;
  margin: 2vw;
  max-width: 90%;
  background-color: #FD7F20;
  border: 0.2rem solid #010100;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #010100;
}
/* especificidad: (0, 0, 1) */
ul {
  padding: 2rem;
  margin: 2vw auto;
  max-width: 90%;
  border: 0.2rem solid #010100;
  border-radius: 0.5rem;
  font-size: 1rem;
}
/* especificidad: (0, 0, 2) */
ul ul {
  background-color: #fff;
  border-radius: 0.4rem;
  color: #010100;
  font-size: 0.97rem;
}
/* especificidad: (0, 0, 2) */
ul li {
  margin-bottom: 0.7em;
}
/* especificidad: (0, 0, 2).La advertencia ha sido comprobada. Color heredado de ol */
ol li {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 0.1rem solid #010100;
  border-radius: 0.3rem;
}

/* especificidad: (0, 0, 2). La advertencia ha sido comprobada. Color de fondo heredado de body*/
p a {
  color: #000;
}
/* especificidad: (0, 1, 2)*/
p a:hover {
  transform: translateY(-0.2rem);
}

/* ---------- ARTÃCULOS (apariencia) ---------- */
/* especificidad: (0, 0, 1)*/
article {
  background-color: #f0f4f8;
  color: #010100;
  border: 0.3rem solid #010100;
  box-shadow: 0em 0.5rem 1rem #0000001a;
  border-radius: 1rem;
  max-width: 80%;
  margin: 2rem auto;
}
/* especificidad: (0, 0, 2)*/
article h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
}
/* especificidad: (0, 0, 2)*/
article p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-left: 1.2rem;
}

/* especificidad: (0, 0, 5)*/
main article form section {
  padding: 1.3rem;
  border: 0.05rem solid #f0f0f0;
  border-radius: 0.6rem;
  background-color: #fff;
  color: #010100;
}
/* especificidad: (0, 0, 5)*/
main article form section h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
/* especificidad: (0, 0, 4)*/
main article form section label {
  display: block;
  margin: 0.8rem 0em;
  font-size: 1.3rem;
}

/* especificidad: (0, 0, 3)*/
main article button {
  background-color: #010100;
  color: #FFFFFF;
  border-radius: 1rem;
  font-size: 1.1rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
}
/* especificidad: (0, 0, 3)*/
main article p {
  margin-top: 2rem;
  font-size: 1.1rem;
}
/* especificidad: (0, 0, 4)*/
main article > button + p{
  font-size: 2rem;      
}

/* ---------- OTROS COMPONENTES DE CONTENIDO ---------- */
th, td { /* especificidad: (0, 0, 1)*/
  font-size: 1rem;
}
main video {            /* especificidad: (0, 0, 2)*/
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border: 0.2rem #010100; 
  border-radius: 0.5rem;       
  box-shadow: 0em 0.5rem 1rem #00000033; 
}
/* especificidad: (0, 0, 3)*/
main > section dl {
  background-color: #fff7cb;
  color: #010100;
  padding: 1rem;
  border: 0.3rem solid #010100;
  border-radius: 1rem;
  font-size: 1rem;
}
/* especificidad: (0, 0, 4)*/
main > section dl dd {
  padding: 0.2rem 0.5rem;
  background-color: #ffffff;
  color: #010100;
  border-left: 0.3rem solid #FD7F20;
  border-radius: 0.3rem;
}
